[core]
  editor = nvim
  whitespace=-indent-with-non-tab,trailing-space,cr-at-eol
  pager = delta --light --pager less

[merge]
  conflictstyle = diff3

[color]
  ui = true

[alias]
  bwc = blame -w -C -C -C
  br = branch
  co = checkout
  ci = commit
  ca = commit --amend
  fix = commit --amend --no-edit
  df = diff
  dfs = diff --stat
  dc = diff --cached
  dcs = diff --cached --stat
  dw = diff --word-diff=color
  dwc = diff --word-diff=color --cached
  fap = fetch --all --prune
  find = log --oneline --source --all --name-only -G
  lg = log -p
  lo = log --oneline -n 40
  tree = log --graph --remotes --branches --tags -20 --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold white)— %an%C(reset)' --abbrev-commit
  treo = tree --oneline -n 50
  pfl = push --force-with-lease
  ri = rebase -i
  ria = rebase -i --autosquash
  hash = rev-parse HEAD
  ss = show --stat
  who = shortlog -s --
  st = status -s
  sw = switch

[diff "ansible-vault"]
  textconv = ansible-vault decrypt --output=-
  cachetextconv = false

[diff]
  algorithm = patience
  colorMoved = default

[init]
  defaultBranch = main

[delta]
  navigate = true  # use n and N to move between diff sections

[interactive]
  diffFilter = delta --color-only --light --pager less

[rerere]
  enabled = true

[include]
  path = .gitconfig.local
